*{
    margin: 0px;
    padding: 0px;
}
.formregis{
    width: 400px;
    padding: 50px;
    background-color: rgb(0, 21, 255);
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
}
.formregis h1{
    font-size: 60px;
    color: rgb(255, 255, 255);
}
.inpus {
    width: 400px;
    padding: 3px;
    border-bottom: 20px;
    font-family: cambria; /*Es para el texto */
    border-radius: 5px; /**Es para el borde del cuardro*/
    border: 1px solid rgb(0, 17, 255); /*para darle color al borde*/
}.cor {
    width: 200;
    padding: 80;
    padding-left: 0px;
}
.barras{
    font-family: arial;
    color: rgb(0, 132, 255);   
}.barras1{
    font-family: cambria;
    color: rgb(0, 0, 0); 
}.pagina{
    margin: auto;
}.messi{
    width: 300px;
    padding: 300px;   
    margin-top: 10px; 
}.enviar{
    background-color: aqua; /*es para el color del fondo*/
    margin-inline-start: 160px;
    width: 100px;
    height: 40px;
    border: 1px solid rgb(0, 17, 255)/*para darle color al borde*/
    border-radius: 5px ; /**Es para el borde del cuardro*/

    

}